{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>As a group of friends, we used to get together for semi regular poker games.  
    However as people drifted their separate ways, getting everyone together (across different countries and even continents!) 
    proved rather difficult.  We've experimented with various different ways of getting people &quot;in to the room&quot;, and
    getting cards to players.  Many upstream video connections are a problem for UK internet with it's awful upstream rates.
    So we settled on capturing images of cards using a camera or scanner, dividing the captured image up and sending it securely
    to each player.</p>
<p>Enter CardShark - a simple Django based web app to automate players, games and hands.</p>

{% endblock %}
