{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Find the latest version on GitHub:<br/>
    <strong><a href="https://github.com/BubbaFatAss/CardShark" target="_blank">github.com/BubbaFatAss/CardShark</a></strong>
</address>

<address>
    Please report any bugs or issues via GitHub.  I know this is a little basic right now, but I wrote it for a pretty specific usecase.<br/>
    Playing Transatlantic Poker is great fun, find out more about how / why we do it on GitHub.<br/>
</address>

{% endblock %}
